$font-Chin : Microsoft JhengHei; /*微軟正黑*/
$color-white : rgba(240, 240, 240, 0.95);
$color-black : rgba(14, 14, 14, 0.842);
$color-blue:rgba(46, 137, 223, 0.842);

body html{
	height:100%;
	
}
body{
	margin : 0px;
}

    //圖片灰色漸層
	.index_Gradient{
		width: 100%;
		height: 100%;
		background-color:rgba(189, 188, 188, 0.40);
		//選單 白色底
		.navbar{
			position: relative;
			height: 8.5%;
			background-color: rgba(240, 240, 240, 0.70);
			//選單LOGO
			.index_Logo{
				position: absolute;
				left: 40px;
				font-size: 3vw;
				font-family: 'Baloo Chettan', cursive;
			}
			//選單列 div
			.navbar-nav{
				position: absolute;
			//	border: 3px black solid;
				width: 1000px;
				height: 75px;
				left: 47%;
				//最新消息
				.nav-item1{
					position: absolute;
					top: 9px;
					left: 180px;
					padding: 0px 30px;
					border-right: 1px black solid;
					border-left: 1px black solid;
					font-size: 1.3vw;
					color: $color-black;
					font-family: $font-Chin;
					text-decoration:none;
					//Latest News
					.nav-item-Eng1{
						position: relative;
						display: block;
						font-size: 1vw;
						font-family: 'Baloo Chettan', cursive;
					}
				}
				//餐點菜單
				.nav-item2{
					position: absolute;
					top: 9px;
					left: 370px;
					padding-right: 30px;
					border-right: 1px black solid;
					font-size: 1.3vw;
					color: $color-black;
					font-family: $font-Chin;
					text-decoration:none;
					//menu
					.nav-item-Eng2{
						position: relative;
						display: block;
                        font-size: 1vw;
                        left: 25px;
						font-family: 'Baloo Chettan', cursive;
					}
				}
				//留言板
				.nav-item3{
					position: absolute;
					top: 9px;
					left: 560px;
					padding-right: 10px;
					border-right: 1px black solid;
					font-size: 1.3vw;
					color: $color-black;
					font-family: $font-Chin;
					text-decoration:none;
					//Message_Board
					.nav-item-Eng3{
						position: relative;
						left: -25px;
						display: block;
						font-size: 1vw;
						font-family: 'Baloo Chettan', cursive;
					}
				}
				// 會員成員
				.nav-item4{
					position: absolute;
					top: 9px;
					left: 730px;
					padding-right: 30px;
					border-right: 1px black solid;
					font-size: 1.3vw;
					color: $color-black;
					font-family: $font-Chin;
					text-decoration:none;
					//Employee
					.nav-item-Eng4{
						position: relative;
						left: 16px;
						display: block;
						font-size: 1vw;
						font-family: 'Baloo Chettan', cursive;
					}
				}
				//系統管理員英文
                .nav-item5{
                    position: absolute;
					top: 11px;
					left: 900px;
					font-size: 1.2vw;
					color: $color-black;
                    font-family: 'Baloo Chettan', cursive;
					text-decoration:none;
					//系統管理員
                    .nav-item-Chin{
                        position: relative;
						left: -20px;
						display: block;
						font-size: 1vw;
                        font-family: $font-Chin;
                    }
                }
			}
			//最新消息  all div
            .news_box{
                position: relative;
                //border: 3px black solid;
                width: 1800px;
                height: 800px;
                left:70px;
				top: 90px;
				//最新消息
				.news_chin{
					position: absolute;;
					top: 35px;
					left: 800px;
					font-size: 2.2vw;
					color: $color-black;
					font-family: $font-Chin;
					//Latest News
					.news_Eng{
						position: relative;
						display: block;
						top: 10px;
						right: 30px;
						font-family: 'Baloo Chettan', cursive;
					}
				}
				//標題
				.news_title1{
					position: absolute;
					top: 180px;
					left: 450px;
					font-size: 1.8vw;
					color: $color-black;
					font-family: $font-Chin;
					//Title
					.news_title1_Eng{
						position: absolute;
						left: 900px;
					}
					//標題分隔線
					.news_title_hr{
						position: relative;	 
						margin: 10px 0px;
						height: 3.5px;		
						width: 50vw;    	
						background-color: $color-black;  
					//	right: 50px;    
						top: 10px;
					}
					//標題 + 內容 box
					.news_content_box{
						position: relative;
						top: 20px;
					//	border: 3px black solid;
						width: 73%;
						height: 500px;
						//NEWS標題
						.news_content_title{
							position: relative;
							bottom: 10px;
							font-size: 1.6vw;
							letter-spacing: 3px;
							line-height: 50px;
						}
						//NEWS內容
						.news_content{
							position: relative;
							display: block;
							top: 70px;
							font-size: 1.4vw;
							letter-spacing: 3px;
							line-height: 50px;
						}
					}
				}
				//副標題的box
				.subtitle{
					position: absolute;
					//border: 3px black solid;
					width: 400px;
					height: 300px;
					top: 500px;
					left: -20px;
					//公告編號
					.subtitle_no{
						position: relative;
						top: 25px;
						left: 70px;
						font-size: 1.5vw;
						font-family: $font-Chin;
					}
					//發布人
					.subtitle_name{
						position: relative;
						display: block;
						top: 50px;
						left: 70px;
						font-size: 1.5vw;
						font-family: $font-Chin;
					}
					//發布時間
					.subtitle_time{
						position: relative;
						display: block;
						top: 75px;
						left: 70px;
						font-size: 1.5vw;
						line-height: 50px;
						font-family: $font-Chin;
					}
				}
				//NEWS編輯按鈕
				.editor_news{
					position: absolute;
					padding: 10px 0px 0px 50px;   
					top: 705px;
					right: 20px;
					width:100px;
					height: 40px;
					background-color: rgba(0, 0, 0, 0.50);
					border: 0;
					color: $color-white;
					font-size: 20px;
					text-decoration: none;
				}
            }
		}
	}
	//新增菜單box
	.Second_box{
		height: 100%;
		width: 100%;
		background-color:rgba(189, 188, 188, 0.40);
		.menu_chin{
			position: relative;
			top: 20px;
			left: 870px;
			font-size: 2.2vw;
			color: $color-black;
			font-family: $font-Chin;
		}
		.menu_Eng{
			position: relative;
			top: 70px;
			left: 730px;
			font-size: 2vw;
			font-family: 'Baloo Chettan', cursive;
		}
		//新增菜單 按鈕
		.menu_add{
			position: absolute;
			padding: 10px 0px 0px 30px;   
			top: 1100px;
			right: 880px;
			width: 110px;
			height: 40px;
			background-color: rgba(0, 0, 0, 0.50);
			border: 0;
			color: $color-white;
			font-size: 20px;
		}
		//menu box
		.menu_box{
			position: relative;
			left: 250px;
			top: 200px;
			//menu 標題
			.menu_main_item{
				color: $color-white;
				font-size: 1.8vw;
				font-family: $font-Chin;
				padding-right: 10px;
				background-color: rgba(0, 0, 0, 0.808);
			}
			//menu 細項
			.menu_item{
				font-size: 1.2vw;
				font-family: $font-Chin;
				//menu 修改刪除連結
				a{
					color: black;
					text-decoration: none;
				}
			}
		}
	}
	//留言板 box
	.third_box{
		height: 100%;
		width: 100%;
		background-color:rgba(189, 188, 188, 0.40);
		//留言板 文字
		.message_chin{
			position: relative;
			top: 70px;
			left:890px;
			font-size: 2.2vw;
			color: $color-black;
			font-family: $font-Chin;
		}
		//Message Borard 文字
		.message_eng{
			position: relative;
			top: 120px;
			left: 680px;
			font-size: 2vw;
			font-family: 'Baloo Chettan', cursive;
		}
		//message box
		.message_box{
			position: relative;
			left: 200px;
			top: 180px;
			a{
				text-decoration: none;
				color: black;
			}
			//message 標題
			.message_main_item{
				color: $color-white;
				font-size: 1.6vw;
				font-family: $font-Chin;
				padding-right: 10px;
				background-color: rgba(0, 0, 0, 0.808);
			}
			//message 細項
			.message_item{
				font-size: 1.35vw;
				font-family: $font-Chin;
			}
		}
		.message_add{
			position: absolute;
			top: 2700px;
			left:1700px;		
			padding: 15px 25px 5px 45px;
			width: 100px;
			height: 40px;
			background-color: rgba(0, 0, 0, 0.50);
			border: 0;
			color: $color-white;
			font-size: 20px;	
			text-decoration: none;
		}
	}
/* Bounce To Right */
.hvr-bounce-to-right {
	display: inline-block;
	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	position: relative;
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}

/* Bounce In */
.hvr-bounce-in {

	vertical-align: middle;
	-webkit-transform: perspective(1px) translateZ(0);
	transform: perspective(1px) translateZ(0);
	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
	-webkit-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.hvr-bounce-in:hover, .hvr-bounce-in:focus, .hvr-bounce-in:active {
	-webkit-transform: scale(1.2);
	transform: scale(1.2);
	-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
	transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
}

//管理會員
.fourth_box{
	height: 100%;
	width: 100%;
	background-color:rgba(189, 188, 188, 0.40);
	//管理會員 國字
	.member_chin{
		position: relative;
		top: 70px;
		left: 880px;
		font-size: 2.2vw;
		color: $color-black;
		font-family: $font-Chin;
	}
	.member_eng{
		position: relative;
		top: 130px;
		left: 600px;
		font-size: 2vw;
		font-family: 'Baloo Chettan', cursive;
	}
	.member_box{
		position: relative;
		left:250px;
		top: 200px;
		.member_main_item{
			color: $color-white;
			font-size: 1.8vw;
			font-family: $font-Chin;
			padding-right: 10px;
			background-color: rgba(0, 0, 0, 0.808);
		}
		.member_item{
			font-size: 1.35vw;
			font-family: $font-Chin;
			a{
				color: black;
				text-decoration: none;
			}
		}
	}
}

